.header {
  text-align: center;
  padding: 3rem 0;
  border-bottom: 1px solid gray;
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

.header__h1 {
  font-size: 5rem;
  font-style: italic;
}

.header__h2 {
  font-size: 2rem;
  font-weight: 300;
}